* {
	padding:0;
	margin:0;
	box-sizing:border-box;
	border:0;
}

.body {
	direction:rtl;
}

.top5 {
	width:100%;
	height:50px;
	background:#1e272e;
}

.top5 h1{
	color:#ffffff;
	text-align:center;
	font-size:30px;
}

.box3 {
	width:100%;
	background:#bdc3c7;
	margin-top:20px;
	float:right;
}
.box3 .right2 {
	width:47%;
	background:#636e72;
	float:right;
	margin:20px;
	font-size:50px;
}


.box .left {
	width:47%;
	background:#636e72;
	float:left;
	padding:20px 150px;
	
}


.menu3 {
	width: 100%;
	background: #2c3e50;
	float: right;
}

.menu3 li {
	float: right;
	list-style: none;
}

.menu3 li a {
	color: #fff;
	padding: 10px 30px;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}

.menu3 li a:hover {
	background:#2ecc71;
	border-radius:5px;
}

.menu4 {
	float: right;
	width: 100%;
	background: #2c3e50;
}

.menu4 li {
	float: right;
	list-style: none;
}

.menu4 li a {
	color: #fff;
	padding: 10px 30px;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}

.menu4 li a:hover {
	background:#e74c3c;
	border-radius:5px;
}